---
ip: "192.168.10.10"
memory: 2048
cpus: 1
provider: virtualbox
backup: true
mongodb: true


authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa
    - ~/.ssh/id_rsa.pub

folders:
    - map: ~/code
      to: /home/vagrant/code
      type: nfs

    - map: 'D:\php_project'
      to: /home/vagrant/php_project
      type: nfs

    - map: 'D:\git_project'
      to: /home/vagrant/git_project
      type: nfs

sites:
    - map: local.test
      to: /home/vagrant/php_project
      type: autoindex

    - map: oa.test
      to: /home/vagrant/php_project/InfoCollectSystem/public
      schedule: true

    - map: res.oa.test
      to: /home/vagrant/php_project/InfoCollectSystem/storage/app/static
      type: static

    - map: hr.test
      to: /home/vagrant/php_project/recruitment/public
      schedule: true

    - map: api.test
      to: /home/vagrant/php_project/ApiToolAdminV2/public
      schedule: true

    - map: polar.internal.test
      to: /home/vagrant/git_project/internal-system-tools/public
      schedule: true


databases:
    - homestead
    - internal_system_tools
    - info_collect_system
    - api_tool_admin_v2
    - recruitment

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
